.App {
  text-align: center;
}

.App-header {
  background-color: #3e2ad8;
  padding: 20px;
  color: rgb(0, 0, 0);
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.body{
  background-color: #3e2ad8;
  p.solid {border-style: solid;}
  margin: 25px 50px 75px 100px; 
}
h1 {
  margin: 10px 0;
  background-color: #3e2ad8;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: #3e2ad8;
}
h1.error {
  color: red;
}

