.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body { margin: 0; padding: 0; background-color: rgb(82, 43, 134); 
  color: white; 
  font-family: Arial, sans-serif;} 
  .app { max-width: 275px; margin: auto; padding: 20px; text-align: center; } img 
  { width: 100%; height: auto; margin-bottom: 20px; } form { display: grid; gap: 10px; } 
  label { display: block; font-weight: bold; } input { width: 100%; padding: 8px; } 
  .error { color: red; margin-top: 5px; }